<div class="wrapper">

    <nav id="sidebar" [ngClass]="{'active': isActive}" >
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Registration Forms</h3>

        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active" (click) = "isActive= !isActive"><a routerLink="/form1">Form1</a></li>
            <li><a href="#">Form2</a></li>
        </ul>
    </nav>
    <div id="toggleButton">
        <button (click) ="isActive = !isActive" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            Menu
        </button>
    <div>
</div>
<router-outlet></router-outlet>


